<mat-toolbar color="primary">
	<button
		mat-icon-button
		class="icon"
		aria-label="icon-button with menu icon"
		(click)="drawer.toggle()"
	>
		<mat-icon>menu</mat-icon>
	</button>
	<span>RPG-idea</span>
	<span class="spacer"></span>
    <mat-slide-toggle
        color="primary"
        [checked]="isDarkTheme | async"
        (change)="toggleDarkTheme($event.checked)"
        class="dark-theme-toggle"
    >
        <button
            mat-icon-button
            class="icon"
            aria-label="icon-button with share icon"
        >
            <mat-icon *ngIf="darkmode" fontIcon="dark_mode"></mat-icon>
            <mat-icon *ngIf="!darkmode" fontIcon="light_mode"></mat-icon>
        </button>
    </mat-slide-toggle>
	<button
		mat-icon-button
		class="icon"
		aria-label="icon-button with settings icon"
	>
		<mat-icon matBadge="2" matBadgePosition="after" matBadgeColor="accent" fontIcon="notifications"></mat-icon>
	</button>
	<button
		mat-icon-button
		class="icon"
		aria-label="icon-button with share icon"
	>
		<mat-icon>share</mat-icon>
	</button>
	<button
		mat-icon-button
		class="icon"
		aria-label="icon-button with settings icon"
	>
		<mat-icon>settings</mat-icon>
	</button>
</mat-toolbar>
<mat-drawer-container class="container">
	<mat-drawer #drawer mode="side" opened>
		<mat-nav-list>
			<a mat-list-item routerLink="/app-kanban-board">Kanban Board</a>
			<a mat-list-item routerLink="/app-kanban-stats">Kanban Stats</a>
		</mat-nav-list>
	</mat-drawer>
	<mat-drawer-content #content>
		<div>
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
