<div class="board">
	<div class="example-container">
		<div class="title-container">
			<h2>To do</h2>
			<button
				mat-mini-fab
				color="accent"
				(click)="openCreateDialog(todo)"
			>
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<div
			cdkDropList
			#todoList="cdkDropList"
			[cdkDropListData]="todo"
			[cdkDropListConnectedTo]="[doneList, progressList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)"
		>
			<div class="example-box" *ngFor="let item of todo" cdkDrag>
				<span>{{ item }}</span>
				<div class="button-container">
					<button
						mat-icon-button
						aria-label="Edit icon button"
						(click)="openEditDialog(todo, item)"
					>
						<mat-icon>edit</mat-icon>
					</button>
					<button
						mat-icon-button
						aria-label="Delete icon button"
						(click)="openDeleteDialog(todo, item)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="example-container">
		<div class="title-container">
			<h2>In Progress</h2>
			<button
				mat-mini-fab
				color="accent"
				(click)="openCreateDialog(progress)"
			>
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<div
			cdkDropList
			#progressList="cdkDropList"
			[cdkDropListData]="progress"
			[cdkDropListConnectedTo]="[doneList, todoList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)"
		>
			<div class="example-box" *ngFor="let item of progress" cdkDrag>
				<span>{{ item }}</span>
				<div class="button-container">
					<button
						mat-icon-button
						aria-label="Edit icon button"
						(click)="openEditDialog(progress, item)"
					>
						<mat-icon>edit</mat-icon>
					</button>
					<button
						mat-icon-button
						aria-label="Delete icon button"
						(click)="openDeleteDialog(progress, item)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="example-container">
		<div class="title-container">
			<h2>Done</h2>
			<button
				mat-mini-fab
				color="accent"
				(click)="openCreateDialog(done)"
			>
				<mat-icon>add</mat-icon>
			</button>
		</div>
		<div
			cdkDropList
			#doneList="cdkDropList"
			[cdkDropListData]="done"
			[cdkDropListConnectedTo]="[todoList, progressList]"
			class="example-list"
			(cdkDropListDropped)="drop($event)"
		>
			<div class="example-box" *ngFor="let item of done" cdkDrag>
				<span>{{ item }}</span>
				<div class="button-container">
					<button
						mat-icon-button
						aria-label="Edit icon button"
						(click)="openEditDialog(done, item)"
					>
						<mat-icon>edit</mat-icon>
					</button>
					<button
						mat-icon-button
						aria-label="Delete icon button"
						(click)="openDeleteDialog(done, item)"
					>
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
